{% for i in range(0, len(ClassName)) %}
  <div class="class">
    <div class="classname">
      <h2>{{ClassName[i]}}</h2>
    </div>
    {% for section in list(value_dict[i].keys()) %}
    <table class="table">
      <thead>
        <tr class="table-active">
          <th>Class</th>
          <th>Section</th>
          <th>Days & Times</th>
          <th>Room</th>
          <th>Instructor</th>
          <th>Meeting Dates</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <td>Class</td>
        <td>{{section}}</td>
        <td>MoTuWeTh 11:45 - 13:00</td>
        <td>INNO_Flexible Classroom 1045</td>
        <td>Joohyun Lee</td>
        <td>2022/08/22 - 2022/10/13</td>
        <td>Xxx</td>
      </tbody>
    </table>
    {% end %}
    
  </div>
{% end %}



