{% for i in range(0, len(ClassName)) %}
  <div class="class">
    <div class="classname">
      <h2>{{ClassName[i]}}</h2>
    </div>
    {% for section,value in value_dict[i].items() %}
    <table class="table">
      <thead>
        <tr class="table-active">
          <th>Class</th>
          <th>Section</th>
          <th>Days & Times</th>
          <th>Room</th>
          <th>Instructor</th>
          <th>Meeting Dates</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <td>{{value['number']}}</td>
        <td>{{section}} {{value['section']}}</td>
        <td>{{' '.join(value['time'])}}</td>
        <td>{{' '.join(value['room'])}}</td>
        <td>{{' '.join(value['instr'])}}</td>
        <td>{{' '.join(value['date'])}}</td>
        <td>Open</td>
      </tbody>
    </table>
    {% end %}
    
  </div>
{% end %}



